body{
    font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Source Serif Pro', serif;
width: 100%;
margin: 0;
padding: 0;
}
.intro-text{
    font-size: 70px;
    margin: 0px;
    margin-left: 3%;
}
.button{
text-decoration: none;
background-image: radial-gradient(tomato, rgb(252, 54, 19));
color: white;
padding: 1% 3%;
font-size: 25px;
border-radius: 10px;
}
.first-part{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 3%;
}
.intro{
    width: 50%;
}
.intro img{
    width: 60%;
    margin-left: 25%;
    margin-bottom: 15%;
}
p{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 5%;
}
.color-text{
    color: tomato;
}
#scroll{
    margin-top: 90px;
}
.border{
    position: relative;
}
.border::before{
    content: "";
    background-color: tomato;
    position: absolute;
    height: 130px;
    width: 5px;
    top: 20px;
    left: 0px;
    border-radius: 4px;

}
.second-intro{
    font-size: 70px;
    margin-top: 1%;
    text-align: center;
}
.second-part{
    display: flex;
    margin-bottom: 8%;
}

.img-size{
   width: 40%;
}
.second-box-one{
    background-image: url(images/shapes/Untitled-5.jpg);
    
    margin: 1% 1% 0 10%;
    width: 25%;
    padding: 1%;
    border-radius: 5%;
}
.second-box-two{
    background-image: url(images/shapes/Untitled-6.jpg);
    margin: 1% 1% 0 1%;
    width: 25%;
    padding: 1%;
    border-radius: 5%;
}
.second-box-three{
    background-image: url(images/shapes/Untitled-7.jpg);
    margin: 1% 10% 0 1%;
    width: 25%;
    padding: 1%;
    border-radius: 5%;
}
.third-part{
    display: flex;
    align-items: center;
    margin-left: -7%;
    background: url(images/shapes/shape-1.png) no-repeat;
    background-size: 20%;
    background-position-x: 10%;
    background-position-y: center;
}
.third-text{
    font-size: 70px;
    margin: 0;
}
.third-part-text{
    width: 40%;
    margin-left: 6%;
}
.third-part-text img{
    width: 75%;
    margin-left: 25%;
}
.fourth-text{
    font-size: 70px;
    margin: 0;
}
.fourth-part{
    display: flex;
    align-items: center;
    margin-top: 8%;
    margin-left: 10%;
    background: url(images/shapes/shape-1.png) no-repeat;
    background-size: 15%;
    background-position-x: 82%;
    background-position-y: 93%;
    margin-bottom: 5%;
    
}
.fourth{
    width: 40%;
    
}
.fourth img{
    width: 70%;
    margin-left: 25%;
    margin-bottom: 15%;
}

.fifth-part{
    display: flex;
    margin-top: 5%;
    align-items: center;
    background: url(images/shapes/shape-3.png) no-repeat;
    background-size: 7%;
    background-position-x: 9%;
    background-position-y: 1%;
    
    
    
}
.fifth-part-text img{
    width: 90%;
    margin-left: 15%;
    padding-top: 10%;
    margin-bottom: 10%;
    }
.fifth-part-text{
    width: 40%;
    margin-left: 6%;
}
.fifth-back-two{
    background: url(images/shapes/shape-3.png) no-repeat;
    background-size: 5%;
    background-position-x: 47%;
    background-position-y: 70%;
}
.fifth-back-third{
    background: url(images/shapes/shape-3.png) no-repeat;
    background-size: 5%;
    background-position-x: 10%;
    background-position-y: 94%;
    
}

.footer-heading{
    font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'The Nautigal', cursive;
font-size: 70px;
line-height: 30px
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center ;
    padding: 1px 0;
}
.footer-p{
    text-align: center;
    margin-bottom: 2%;
}